<div class="container">
  <h2 class="text-center">PROFILE</h3>

  <div class="text-center py-2">
    <%= image_tag("nobuo_profile_image" ,class: "img-fluid") %>
  </div>

  <div class="row text-center py-2">

    <div class="col-sm-8 offset-2 py-1">
      <%= image_tag("nobuo_profile_image", size: "100x100", class: "mx-2") %>
      <%= image_tag("nobuo_profile_image_1", size: "100x100", class: "mx-2") %>
      <%= image_tag("nobuo_profile_image_2", size: "80x100", class: "mx-2") %>
    </div>


  </div>


  <!-- 名前 -->
  <div class="text-center py-4 ">
    <h2>松浦 展大</h2>
    <h6 class="text-black-50">まつうら のぶお</h6>
  </div>
  <!-- プロフィール文 -->
  <div>
    <p>1995年、東京都八王子生まれ、台湾人の母、中国と日本のハーフの父を持つクォーター。</p>

    <p>
      【自己紹介】
      「毎日どこかユニークに」をモットーにしています。
      他人の目を気にして、自分を殺すより、人からバカにされるようなことがあっても自分の興味・関心、やってみたいことのある道に進んでみることが大切だと思ってい生きています。真面目でちょっとどこか面白い人であり続けたいです。

      【趣味・興味】
      温泉：湯に浸かり、日頃溜まった疲れを取りながら、将来起こるかもしれないできごとを妄想するのが好きです。
      ガジェット：スマートなモノは観てるだけでも心踊らされます！
      運動：いい汗かいた後のコーラは最高です。


      【スキル・経験】
      Web開発：Airbnbのクローンサイトや、簡易版Slackの開発。
      ライター：過去にライターとして約300本以上記事を執筆。
      翻訳：中国語のアプリケーションを日本語に翻訳。
    </p>
  </div>
</div>
