<div class="text-center">
  <h1>ポートフォリオ</h1>
  <h4>もうしばらくお待ちくださいまし...</h4>

  <%= link_to "今日の運勢", {controller: :fortune_cookie, action: :index}, class: "nav-link text-dark" %>
  <%= link_to "タピスポ", {controller: :tapispot, action: :index}, class: "nav-link text-dark" %>
</div>
